<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
        
            <div>
                <h2>About Me</h2>
                <hr>
            </div>
            <div class="col-md-12">
                <div class="row" style="height: 450px;">
                <div class="col-lg-5">
                    <img src="assets/images/My Pic.jpg">
                </div>
                <div class="col-md-7">
                    <h1>Guna Teja Yadavalli</h1>
                    <br><br>
                    <h5>This is a Sample Angular Project I developed while I am learning. This application uses Angular as FrontEnd and Spring Boot as Backend. The Frond End communicates with the Backend via Rest API Calls. For any concerns or Feedback you can contact me at:</h5>
                    <br><br>
                    <table>
                        <tr>
                            <td style="font-weight: bold"><h4>Email ID : </h4></td>
                            <td style="padding-left: 20px;"><a href="mailTo:gunateja100@gmail.com"><h4><i>gunateja100@gmail.com</i></h4></a></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold"><h4>Mobile No :</h4></td>
                            <td style="padding-left: 20px;"><h4><i>8500572622</i></h4></td>
                        </tr>
                    </table>
                    <br><br>
                    <div>
                            <a href="https://in.linkedin.com/in/guna-teja-yadavalli-535816190" target="_blank" class="btn btn-primary btn-md">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a style="margin-left: 20px;" href="https://join.skype.com/invite/uCvHZoXUGbUH" target="_blank" class="btn btn-primary btn-md">
                                <i class="fab fa-skype"></i>
                            </a>
                            <a style="margin-left: 20px;" href="https://twitter.com/gunateja100" target="_blank" class="btn btn-primary btn-md">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a style="margin-left: 20px;" href="https://wa.me/8500572622" target="_blank" class="btn btn-primary btn-md">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a style="margin-left: 20px;" href="https://www.facebook.com/guna.teja.7" target="_blank" class="btn btn-primary btn-md">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a style="margin-left: 20px;" href="https://www.instagram.com/gunateja.yadavalli/" target="_blank" class="btn btn-primary btn-md">
                                <i class="fab fa-instagram"></i>
                            </a>
                    </div>
                </div>
            </div>
            </div>
        
        
        </div>
    </div>
</div>